**/*
!.config
!.config/alacritty
!.config/alacritty/*
!.config/foot
!.config/foot/*
!.config/sway
!.config/sway/*
!.config/nvim
!.config/nvim/*
!.config/VSCodium
!.config/VSCodium/User
!.config/VSCodium/User/settings.json
!.config/neofetch
!.config/neofetch/*
!.local
!.local/bin
!.local/bin/import-gsettings.sh
!.local/bin/theme
!.bash_logout
!.bash_profile
!.bashrc
!.gitignore
